<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Bus Name</label>
      <div class="form-control">{{busInfo.busname}}</div>
    </div>
    <div class="form-group">
      <label>From Location</label>
      <div class="form-control">{{busInfo.fromlocation}}</div>
    </div>
    <div class="form-group">
      <label>To Location</label>
      <div class="form-control">{{busInfo.tolocation}}</div>
    </div>
    <div class="form-group">
      <label>Bus Number</label>
      <div class="form-control">{{busInfo.busnumber}}</div>
    </div>
    <div class="form-group">
      <label>Total Seats</label>
      <div class="form-control">{{busInfo.totalseat}}</div>
    </div>
    <div class="form-group">
      <label>Departure Time</label>
      <div class="form-control">{{busInfo.departureTime}}</div>
    </div>
    <div class="form-group">
      <label>Arrival Time</label>
      <div class="form-control">{{busInfo.arrivalTime}}</div>
    </div>
    <div class="form-group">
      <label>Price</label>
      <div class="form-control">{{busInfo.price}}</div>
    </div>
  </div>
</div>
