<div class="container">
  <a mat-button [routerLink]="'/busregistration'" style="color:blue"> Add New Bus</a>
  <table class="table table-bordered table-inverse">
    <tr>
        <th>Bus Name</th>
      <th>From Location</th>
       <th>To Location</th>
       <th>Bus Number</th>
       <th>Total Seat</th>
       <th>Departure Time</th>
       <th>Arrival Time</th>
       <th>Price</th>
       <th>Action</th>
    </tr>
    <tr *ngFor="let bus of buses">
      <td>
        {{bus.busname}}
      </td>
      <td>
        {{bus.fromlocation}}
      </td>

      <td>
        {{bus.tolocation}}
      </td>
      <td>
        {{bus.busnumber}}
      </td>
      <td>
        {{bus.totalseat}}
      </td>
      <td>
        {{bus.departureTime}}
      </td>
      <td>
        {{bus.arrivalTime}}
      </td>
      <td>
        {{bus.price}}
      </td>
      <td>
        <a [routerLink]="['/admin/view/', bus.id]">View</a>|
        <a>Update</a>|
        <a>Delete</a>
      </td>
    </tr>
  </table>
</div>
